<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherry.mapper.ArticleMapper">
    <update id="update">
        UPDATE articles
        SET title = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM articles WHERE id = #{id}
    </delete>
    <select id="findAll" resultType="com.cherry.domain.blog.db.Article">
        SELECT id, title, content, created_at AS createdAt
        FROM articles
        ORDER BY created_at DESC
    </select>

    <select id="findById" resultType="com.cherry.domain.blog.db.Article">
        SELECT id, title, content, created_at AS createdAt
        FROM articles
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO articles (title, content, created_at)
        VALUES (#{title}, #{content}, NOW())
    </insert>
</mapper>